body{

    background-color: darkseagreen;
    margin: 0px;
}

#container{

    background-color: coral;
    display: flex;
    height: 100vh;
    flex-direction: column;
    
}

.row{

    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.box{

    display: flex;
    justify-content: center;
    flex-basis: 100%;
    align-items: center;

}

